<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
    <div class="login">
        <h1>Crab Age Prediction</h1>
        <form action="{{ url_for('predict')}}" method="post">
            <input type="number" name="Length" placeholder="Length" required="required" /><br>
            <input type="number" name="Diameter" placeholder="Diameter" required="required" /><br>
            <input type="number" name="Height" placeholder="Height" required="required" /><br>
            <input type="number" name="Weight" placeholder="Weight" required="required" /><br>
            <input type="number" name="Shucked Weight" placeholder="Shucked Weight" required="required" /><br>
            <input type="number" name="Viscera Weight" placeholder="Viscera Weight" required="required" /><br>
            <input type="number" name="Shell Weight" placeholder="Shell Weight" required="required" /><br>
            <input type="number" name="Sex_F" placeholder="Sex_F (0/1)" required="required" /><br>
            <input type="number" name="Sex_I" placeholder="Sex_I (0/1)" required="required" /><br>
            <input type="number" name="Sex_M" placeholder="Sex_M (0/1)" required="required" /><br>


            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <br>
        <br>


    </div>
    {{prediction_text}}

</body>

</html>